[Unit]
Description=NormGizi Web Server (Bite Fed)
After=network.target
Wants=network.target

[Service]
User=hfzndev
Group=hfzndev
WorkingDirectory=/home/hfzndev/normgizi-web
ExecStart=/home/hfzndev/normgizi-web/venv/bin/python main.py
Restart=always
RestartSec=5
StandardOutput=append:/home/hfzndev/normgizi-web/web.log
StandardError=append:/home/hfzndev/normgizi-web/web.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
